<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JSVILLELA.Properties.Settings.sitioc93_db_jsvillelaConnectionString"
            connectionString="server=108.179.252.200;user id=sitioc93_villela;password=jsvillela@2020#;persistsecurityinfo=True;database=sitioc93_db_jsvillela"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>